{% extends 'base.html' %}

<!-- title -->
{% block title %}

{% endblock %}

<!-- body -->
{% block body %}
<br>
<div class="main">
    <h2>
        The website is created and maintained by Admin: Yunhan
    </h2>
    <hr>
    <div>
        <h3>Personal info</h3>
        <div class="personal_info">
            Name: Yunhan Liu <br>
            Date of birth: 29/Nov/2000 <br>
            Email: <a href="mailto:liuy328@cardiff.ac.uk">LiuY328@cardiff.ac.uk</a> <br>
        </div>
    </div>
    <hr>
    <div>
        <h3>
            Qualifications:
        </h3>
        <div>
            <ul>
                <li>
                    2019-2023: Xi'an Jiaotong-Liverpool University(XJTLU, PR China) <br>
                    BSc Financial Mathematics 
                </li>
                <li>
                    2023-present: Cardiff University (UK) <br>
                    MSc Computing
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div>
        <h3>
            Projects:
        </h3>
        <div>
            <ul>
                <li>
                    Bipartite Matching and its algorithms
                </li>
                <li>
                    Path planning for personal store delivery (based on knapsack and TSP) 
                </li>
                <li>
                    Asset pricing based on monte carlo simulation 
                </li>
                <li>
                    Time series forecasting on stock price 
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div>
        <h3>
            Skills:
        </h3>
        <div>
            <ul>
                <li>                    
                    Programming: Java, Python, Matlab, R, Excel VBA, HTML, Javascript 
                </li>
                <li>
                    Tools: Stata, EView, LaTeX, Flask 
                </li>
                <li>
                    Languages: Chinese Mandarin, English, French (Beginner) 
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div>
        <h3>
            Placement:
        </h3>
        <div>
            <ul>
                <li>
                    2021 Summer: Internship in Heilongjiang Construction Investment Group co., ltd. <br>
                    Data input and analysis
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
