{% extends 'base.html' %}

<!-- title -->
{% block title %}
    dashboard
{% endblock %}

<!-- body -->
{% block body %}

{% if current_user.is_authenticated %}
    <br>
    <h2>
        Hello {{ current_user.username }}! 
    </h2>
    <br>
    <div class="card mt-4" style="background-color: #efeae2">
        <div class="card-header">
            Logout   
        </div>
        <div class="card-body">
            <p class="card-text">
                <a class="btn btn-primary" href="{{ url_for('logout') }}" role="button" style="background-color: #DAE1DE; border: 0px; color: black; font-weight: 700;"> 
                    Logout 
                </a>
            </p>
        </div>    
    </div>
    <br>
    {% if current_user.id == 1 %}
        <div class="card mt-4" style="background-color: #efeae2">
            <div class="card-header">
                Add new user   
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a class="btn btn-primary" href="{{ url_for('new_user') }}" role="button" style="background-color: #DAE1DE; border: 0px; color: black; font-weight: 700;"> 
                        Add 
                    </a>
                </p>
            </div>    
        </div>
        <br>
    {% endif %}    
    <div class="card mt-4" style="background-color: #efeae2">
        <div class="card-header">
            Change password   
        </div>
        <div class="card-body">
            <p class="card-text">
                <a class="btn btn-primary" href="{{ url_for('change_password') }}" role="button" style="background-color: #DAE1DE; border: 0px; color: black; font-weight: 700;"> 
                    Change 
                </a>
            </p>
        </div>    
    </div>
    <br>
    <div class="card mt-4" style="background-color: #efeae2">
        <div class="card-header">
            Delete account 
        </div>
        <div class="card-body">
            <p class="card-text">
                <a class="btn btn-primary" href="{{ url_for('del_user') }}" role="button" style="background-color: #DAE1DE; border: 0px; color: black; font-weight: 700;"> 
                    Delete
                </a>
            </p>
        </div>    
    </div>
{% else %}  
    <h1>
        You are currently logout <br>
        Please firstly login 
    </h1>
    <br>
    <a class="btn btn-primary" href="{{ url_for('login') }}" role="button" style="background-color: #DAE1DE; border: 0px; color: black; font-weight: 700;">
        login
    </a>
{% endif %}

{% endblock %}